a {
    color: purple;
    display: block;
    width: fit-content;
}

a:hover {
    text-decoration: none;
}

.address {
    font-size: .8em;
    font-style: italic;
}

.address, .phone {
    margin-bottom: 2%;
}

.campus {
    font-size: 1.4em;

}

.campus, #lHeader {
    font-weight: 500;
}

.campusContainer {
    padding: 5% 7% 5% 7%;
}

.campusContainer, .member, .mHeader {
    border-bottom: 1px solid rgba(61, 16, 112, .1);
}

.container-fluid, html, body, 
    #list, #map, #panel, #resultLogo img {
    height: 100%;
}

.focus, .mHeader {
    background-color: rgba(61, 16, 112, .1);
}

#header {
    align-self: center;
    font-size: 1.2em;
    padding-left: 17%;
}

html, body {
    margin: 0;
    padding: 0;
}

.library {
    font-size: 1.2em;
}

#lHeader {
    background-color : #3d1070;
    color: white;
    font-size: 1.1em;
    padding: 5%;
}

#list {
    height: 85%;
}

#list, #result {
    overflow: scroll;
    overflow-x: hidden;
}

.member {
    font-weight: 500;
    padding: 10%;
}

.member:hover {
    background-color : rgba(61, 16, 112, .8);
    color: white;
}

.mHeader {
    font-size: 1.1em;
    font-weight: 600;
    padding: 4%;
    text-align: center;
}

#nav {
    color: white;
    visibility: hidden;
}

#panel {
    padding: 0;
}

#result {
    height: 55%;
}

#resultContainer {
    display: none;
}

#resultLogo {
    height: 20%;
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 1, .2);
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

